h1 {
  color: Orchid;
}

#para1 {
  color: HSV(175, 71%, 78%);
}

#para2 {
  color: red;
}

.textcont {
  background-color: white;
}

.maincontainer {
  display: flex;
  background-color: BlanchedAlmond;
  padding: 10px;
  justify-content: center;
}

body {
  font-family: courier;
  background-image: url("Fall.jpg");
  background-size: cover;
}
